.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  animation-fill-mode: forwards;
  opacity: .5;
  transition: opacity 1s linear 1s;
}

