@import "../blocks/page/page.css";

@import "../blocks/header/header.css";
@import "../blocks/logo/logo.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/header/__subtitle/header__subtitle.css";
@import "../blocks/header/__link/header__link.css";
@import "../blocks/header/__main-illustration/header__main-illustration.css";
@import "../blocks/header/__square-pic/header__square-pic.css";

@import "../blocks/main/description/description.css";
@import "../blocks/main/description/two-columns/two-columns.css";
@import "../blocks/main/description/two-columns/__brief/two-columns__brief.css";
@import "../blocks/main/description/two-columns/__main-text/two-columns__main-text.css";
@import "../blocks/main/description/two-columns/__paragraph/two-columns__paragraph.css";
@import "../blocks/main/description/two-columns/__span-accent/two-columns__span-accent.css";

@import "../blocks/main/digits/digits.css";
@import "../blocks/main/section-title/section-title.css";
@import "../blocks/main/section-title/_theme_dark/section-title_theme_dark.css";
@import "../blocks/main/section-subtitle/section-subtitle.css";
@import "../blocks/main/section-subtitle/_theme_dark/section-subtitle_theme_dark.css";
@import "../blocks/main/table/table.css";
@import "../blocks/main/table/_theme_dark/table_theme_dark.css";

@import "../blocks/main/table/__cell/table__cell.css";
@import "../blocks/main/table/__heading/table__heading.css";
@import "../blocks/main/table/__text/table__text.css";
@import "../blocks/main/table/__cell/_theme_dark/table__cell_theme_dark.css";

@import "../blocks/main/feynman/feynman.css";
@import "../blocks/main/feynman/__image/feynman__image.css";
@import "../blocks/main/feynman/__title/feynman__title.css";
@import "../blocks/main/feynman/__subtitle/feynman__subtitle.css";
@import "../blocks/main/feynman/__link/feynman__link.css";

@import "../blocks/main/kaufman/kaufman.css";
@import "../blocks/main/kaufman/__triangle/kaufman__triangle.css";

@import "../blocks/footer/footer.css";
@import "../blocks/footer/__columns/footer__columns.css";
@import "../blocks/footer/__column/footer__column.css";
@import "../blocks/footer/__column_content_copyright/footer__column_content_copyright.css";
@import "../blocks/footer/__column_content_info/footer__column_content_info.css";
@import "../blocks/footer/__column-links/footer__column-links.css";
@import "../blocks/footer/__author/footer__author.css";
@import "../blocks/footer/__column-heading/footer__column-heading.css";
@import "../blocks/footer/__social-icon/footer__social-icon.css";
@import "../blocks/footer/__column_content_social/footer__column_content_social.css";
@import "../blocks/footer/__column-link/footer__column-link.css";
@import "../blocks/logo/_place_footer/logo_place_footer.css";


