.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  background-image: url("../images/logo_place_header.svg");
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  position: relative;
  left: 64px;
  font-weight: 600;
}

.header__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  display: contents;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  padding-top: 100px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.description__two-columns {
  width: 80%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description__two-columns_brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.description__two-columns_main-text {
  width: 80%;
  min-width: 784px;
}

.description__two-columns_paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.description__two-columns_span-accent {
  font-weight: 600;
}

.margin-top-bottom-30 {
  margin: 30px auto;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.table__section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 5;
}

.table__section-subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 5;
}

.table__table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 5;
}

.table__table_cell {
  margin-top: 60px;
  width: 250px;
  z-index: 5;
}

.table__table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__table_text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  size: 867px 637px;
  z-index: 0;
}

.feynman__title {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  display: flex;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column_content-copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.footer__column_content-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 16px 0;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column_content-social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
